#UDEV rule for the Emotiv EPOC headset
#
#Once installed into /etc/udev/rules.d, udev will recognize the headset and
#create a /dev/eeg/encrypted device where you can access the headset encryted
#stream.
#
#It will as well attempt to start a daemon in charge of decrypting the stream.
#If the daemon successfully starts, you will find the data under /dev/eeg/raw

#ATTR{manufacturer}=="Emotiv Systems Pty Ltd", ATTRS{product}=="Receiver Dongle L01", NAME="eeg/epoc%2", SYMLINK+="epoc%n"

#Consumer headset
KERNEL=="hidraw*", ATTRS{idVendor}=="1234", ATTRS{idProduct}=="ed02", MODE="0666", NAME="eeg/epoc%n"

#Research headset
#SUBSYSTEM=="hidraw", ATTRS{interface}=="Emotiv RAW DATA", NAME="eeg/encrypted%n", SYMLINK+="eeg/encrypted", MODE="0444", RUN +="decrypt_emotiv.sh research"

